.App {
  background: #e9ecef;
  padding: 100px 60px;
}
.App .heading{
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  opacity: 0.6;
}
.App footer p{
  font-size: 11px;
  margin-bottom: 30px;
  text-align: center;

}
@media screen {
  .App{
    padding: 50px 20px;
  }
  .App .heading {
    font-size: 20px;
  }
  .App footer p{
    font-size: 8px;
  }
}
