body{
  background: #e9ecef;

}
.App {
  background: #e9ecef;
}
.App .heading{
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  opacity: 0.6;
}
.App footer{
  font-size: 11px;
  margin: 0;
  text-align: center;

}
